@charset "UTF-8";

/*
----------------------------
pequenas telas: ate 600px
celular: ate 768px
tablet: 768 ate 992px
desktop: 992px ate 1200px
grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }
    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
        
    }
    main {
        width: 768px;
    }
}