@charset "UTF-8";

body{
    background-color: cyan; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px;
}
h1{
    color: rgb(11, 72, 66);  background-color: blueviolet;
}
h2{
    color: blue;
}
p{
    text-align:justify ;
}
    